# Combining & organizing data

## Libraries and settings

In [ ]:
# Libraries
import os
import pandas as pd
import numpy as np
import fnmatch

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Show current working directory
print(os.getcwd())

## Importing the prepared rental apartments data

In [ ]:
# Read data to pandas data frame
df_orig = pd.read_csv('apartments_data_prepared.csv', 
                      sep=',', 
                      encoding='utf-8')

# Copy of data with selected colums
columns = [ 'web-scraper-order', 
            'address_raw',
            'rooms', 
            'area', 
            'luxurious',
            'price',
            'price_per_m2']
df = df_orig[columns]

# Get number of rows and columns
print(df.shape)

# Show first records
df.head(5)

## Combining data from different sources

### Reading rental apartment data with geocoded addresses

In [ ]:
# Meaning of variables
# lat: geographical latitude
# lon: geographical longitude
# bfs_number: official municipality id
# bfs_name: official municipality name

# Geocoded data (i.e. data with latitude and longitude)
df_geo = pd.read_csv('apartments_data_geocoded.csv', 
                     sep=',', 
                     encoding='utf-8')

# Rename columns
df_geo = df_geo.rename(columns={'web-scrape':'web-scraper-order',
                                'address_ra':'address_raw',
                                'BFS_NUMMER':'bfs_number', 
                                'NAME':'bfs_name'})

# Show data
df_geo[['web-scraper-order',
        'address_raw',
        'lat', 
        'lon', 
        'bfs_number', 
        'bfs_name']].head()

### Join geo-information to rental apartment data using .merge()

In [ ]:
df2 = df.merge(df_geo[['web-scraper-order', 
                       'lat', 
                       'lon', 
                       'bfs_number', 
                       'bfs_name']], 
               on="web-scraper-order")
df2.head()

### Reading municipality-level data

In [ ]:
# Meaning of variables:
# bfs_number: official municipality id
# bfs_name: official municipality name
# pop: number of residents (=population)
# pop_dens: population density (pop per km2)
# frg_pct: percentage foreigners
# emp: numer of employees

df_municip = pd.read_excel('municipality_data.xlsx', 
                           sheet_name='data_for_import')
df_municip.head(5)

### Join municipality data to rental apartment data using .merge()

In [ ]:
# Merge needs a key which must be identical in both data sets (here the key is 'bfs_number')
df3 = df2.merge(df_municip[['bfs_number', 
                            'pop', 
                            'pop_dens', 
                            'frg_pct', 
                            'emp']], 
                on="bfs_number")
df3.head(5)

In [ ]:
# Merge needs a key which must be identical in both data sets (here the key is 'bfs_number')
df3 = df2.merge(df_municip[['bfs_number', 
                            'pop', 
                            'pop_dens', 
                            'frg_pct', 
                            'emp',
                            'mean_taxable_income']], 
                on="bfs_number")
df3.head(10)

### Export data to file

In [ ]:
# Remove missing values which may have ocured from the merging process
df3 = df3.dropna()

# Check for missing values per column
print(df3.isna().sum())

# Count number of rows and columns
print(df3.shape)

# Export apartment data to file
df3.to_csv('apartments_data_enriched.csv',
            sep=',',
            encoding='utf-8')

### Sorting data

In [ ]:
# Sorting data by 'price' and 'area' with highest price above (ascending=False)
df3.sort_values(by=['price', 'area'], 
                ascending=False).head()

### Aggregation of data

In [ ]:
# Aggregation using .groupby()
df3[['rooms', 'price']].groupby(['rooms']).mean()

## Reshaping data

### Reshaping data using .stack() and .unstack()

In [ ]:
df_sub = df3[['bfs_name', 'rooms', 'price', 'area']][:5]
print('Original shape')
print(df_sub, '\n')

df_sub_stacked = df_sub.stack()
print('Stacked')
print(df_sub_stacked, '\n')

# Using unstack
print('Unstacked (= back to original shape)')
print(df_sub_stacked.unstack())

### Reshaping data using .melt()

In [ ]:
df_sub = df3[['rooms', 'price', 'area']][:5]
print('Original shape')
print(df_sub, '\n')

print('Reshaped using .melt()')
print(pd.melt(df, id_vars=['rooms'], value_vars=['price', 'area']))

### Pivoting data using .pivot_table()

In [ ]:
# Using pivot_table to reshape the data and calculate means 
pd.pivot_table(df3[['rooms', 'price', 'area','price_per_m2']],
               index=['rooms'],
               values=['price', 'area', 'rooms','price_per_m2'],
               aggfunc=(np.mean))
#Explanation of the difference in price and price per m2:
#The price per m2 gets smaller the more rooms the appartement has. This is because the
#rental company has the (almost) same amount of administrative work for a 1 rooms appartement as
#for a 1< rooms appartement

In [ ]:
pd.pivot_table(df3[['rooms', 'price', 'area','price_per_m2',]],
               index=['rooms'],
               values=['price', 'area', 'rooms','price_per_m2'],
               aggfunc=('count'))
#Explanation of the distribution of appartements:
#The top 3 appartements (DESC) are: 3.5 rooms, 4.5 rooms, 2.5 rooms
#Room amount X.5 is often prefered than room amount X.0

In [43]:
pivot_table = pd.pivot_table(df3[['bfs_name', 'area', 'price','price_per_m2',]],
               index=['bfs_name'],
               values=['bfs_name', 'area', 'price','price_per_m2'],
               aggfunc=(np.mean))

sorted_pivot = pivot_table.sort_values(by=['price','area'],ascending = [False, False])

sorted_pivot.head()

                     area        price  price_per_m2
bfs_name
Rüschlikon     144.000000  6660.000000     46.250000
Küsnacht (ZH)  136.333333  4891.666667     35.476667
Nürensdorf     506.500000  4500.000000     17.605000
Maur           138.500000  4250.000000     30.445000
Obfelden       127.500000  4095.000000     31.910000

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')